.rootApp{
  
}
.sectionLeft{
    width: 150px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.toggleBtn{
   
   
    position: relative;
    top: -15px;
    right: 18px;
    background: #1a1c20;
    color: #248ef6;
    width: 30px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
}