<!-- <nb-layout>

    <nb-layout-header fixed>
      <div>
        sub-header
      </div>
    </nb-layout-header>
  
    <nb-layout-column>
      <div>
        <tataclassedge-nebularcard></tataclassedge-nebularcard>
      </div>
      
    </nb-layout-column>
  
    <nb-sidebar right state="compacted" tag="right" style="background-color: #22262A;" fixed>
      <div class="toggleBtn" (click)="subtoggle()">
        <nb-icon
                icon="arrow-ios-back-outline"
                class="custiomIconRight"
              ></nb-icon>
        </div>
      <span style="color: white;">Select any One</span>
      <tataclassedge-widget-dropdown></tataclassedge-widget-dropdown>
    </nb-sidebar>
  
    <nb-layout-footer fixed>
    </nb-layout-footer>
  
  </nb-layout> -->

<div>white board works..!</div>
<tataclassedge-nebularcard></tataclassedge-nebularcard>